.CartItem
{
  margin: 1em;
}

.CartItem .name
{
  padding: 0 1em;
  border-right: 1px solid lightblue;
  min-width: 60%;
}

.CartItem .price
{
  padding: 0 1em;
  border-right: 1px solid lightblue;
}

.CartItem .quantity
{
  padding: 0 1em;
  border-right: 1px solid lightblue;
}

.CartItem .price-total
{
  padding: 1em;
  width: 5em;
  border-right: 1px solid lightblue;
  text-align: center;
  background: lightgoldenrodyellow;
}

.CartItem .controls button
{
  cursor: pointer;
}